.info-disclaimer-wrapper{
    padding: 10px 0px 10px 10px;
    border-left: 1px solid blue;
    width: 80%;
    font-size:50%;
}
.offers-holder{
    padding: 10px 0px 10px 10px;
    font-size: 65%;
    width: 85%;
}
.offer-wrapper{
    margin:5px 5px 0px 0px;
    padding:5px;
    color: white;
background-color: blue;
width: 100%;
}
.offer-header-holder{
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid white;
}
@media only screen and (min-width: 769px){
    .info-disclaimer-wrapper{
        font-size:70%;
        
    }   
    .offers-holder{
        font-size: 90%;
        flex-flow: row;
    }
    .offer-wrapper{
    width: 33%;

    }
}